<details>
  <summary>Introduction</summary>
  <div>I started learning C# more than half a year ago. I have been working on pet projects with UWP, ASP.NET,
    Blazor, Angular and Azure.</div>
</details>
<details>
  <summary>Algorithms</summary>
  <div> I started learning it at university, where I solve problems on platforms such as Codeforces, Codewars, LeetCode
    and E- Olymp. There I need to use different sorting and grouping algorithms with data structures.</div>
</details>
<details>
  <summary>Databases</summary>
  <div>I have skills with SQL queries and common commands. I made a task with loading files from the Web application
    to Azure Blob Storage. I have basic knowledge of NoSQL (MongoDB). I use SQL Server and SQLite for
    developing pet projects.</div>
</details>
<details>
  <summary>Full Stack</summary>
  <div>I learnt Angular for faster and high-quality creation of Front-end for web applications, sites and other services. I
    know that Angular is a good framework for developing easy-expanding projects, so it is interesting to me. I am
    on a C# Professional course from ITVDN and will have a certificate by the end of April.</div>
</details>
<details>
  <summary>Now</summary>
  <div>I am learning QA Automation testing with NUnit, XUnit and MSTest. Also, I have all basic knowledge in testing
    sites and Selenium using.</div>
</details>
